.settings-box.hide-settings
  .toggle-settings
    i.fas.fa-cog.fa-lg
    .settings-content.text-center
    .option-box.color-options
      h4.option-title Color Options
      - var colors =["geen-theme","blue-theme","red-theme","orange-theme", "purple-theme"] 
      ul.list-unstyled
        each color in colors
          li(data-color=color)
    .option-box.font-options
      h4.option-title Font Options
      - var fonts =["open","public","roboto","source"]
      select.form-control 
        each font in fonts
          option(value=font)=font+' font'
    .option-box
      h4.option-title Sidebar Options

